/* main */

@import "normalize.css";
@import "style.css";
@import "components/hover.css";


/* components */

@import "components/header.css";
@import "components/hero.css";
@import "components/beton.css";



:root {
    --black: black;
    --white: white;
    --brown :#872A18;
    --gray: #3D3C3E;

}
