.hero__wrapper {
  background-image: linear-gradient(to top, rgba(89,106,114, 0.6), rgba(219, 219, 214, 0.4)), url(
    "/img/HeroBG.jpg");

  background-size: cover;
  color: var(--white);

}

.hero__left {
  width: 40%;
  padding: 60px 0;
}

.hero__title {
  margin-bottom: 30px;
}

.hero__button {
  color: var(--white);
  padding: 10px 15px;
  background: var(--brown);
  border-radius: 5px;
  font-size: 26px;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
}

.hero__button:hover {
  transform: scale(1.1);
}




