.map__map {
  min-width: 700px;
  height: 500px;
  /* background-color: aqua; */
}

[class*="copyrights-pane"] {
	display: none !important;
}

/* [class*="ground-pane"] {
	filter: grayscale(1);
} */

.map__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.map__adress__title {
  margin-bottom: 10px;
}

.map__adress__text {
  margin-bottom: 20px;
}


.map__adress__title::before {
  content: "";
  background-image: url(https://cdn.icon-icons.com/icons2/1727/PNG/512/3986711-building-factory-industry-icon_112974.png);
  background-size: cover;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;

}
