@media (max-width: 1100px) {

  .section-title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .header__nav__list__item {
    font-size: 14px;
  }

  .header__logo img {
    height: 50px;
    width:180px ;
  }

  .header {
    height: fit-content;
  }

  .header__contact__tel {
    font-size: 12px;

  }
  .header__contact__mail {
    font-size: 12px;
  }

  .header__nav__list {
    gap: 3px;
  }

  .hero__left {
    width: 60%;
  }

  .tabby-content img {
    display: none;
  }

  .beton__td {
    font-size: 14px;
    padding: 3px 7px;
  }

  .tabby-tab label {
    font-size: 14px;
  }

  .easy__text__title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .easy__text__text {
    font-size: 12px;
  }

  .easystep {
    font-size: 36px;
    padding: 10px;
  }
  .easy__content {
    flex-grow: 0;
  }
  .easy {
    display: none;
  }

  .map__map {
    width: 450px;
    height: 450px;
  }

  .delive__text {
    flex-wrap: wrap;
  }

  .delive__card {
    max-width: 48%;
  }


  .delive__img svg {
    max-width: 80px;
  }

  .delive__price__img {
    display: none;
  }

  .map__adress__title {
    font-size: 20px;
  }
.advantage__card__title {
  font-size: 26px;
}

.card {
  max-width: 220px;
}

.card__title {
  font-size: 20px;
}

.card__description  {
  font-size: 14px;
}

}
